/db
/incremental_db
/output_files
/simulation

/study/fifo/db/
/study/fifo/incremental_db
/study/fifo/output_files
/study/fifo/simulation

/study/simple_operations/db
/study/simple_operations/incremental_db
/study/simple_operations/output_files
/study/simple_operations/simulation

/study/UART/db
/study/UART/incremental_db
/study/UART/output_files
/study/UART/simulation

/study/uart_with_fifo/db
/study/uart_with_fifo/incremental_db
/study/uart_with_fifo/output_files
/study/uart_with_fifo/simulation

/study/uart_book/db
/study/uart_book/incremental_db
/study/uart_book/output_files
/study/uart_book/simulation

/study/lut_tanh/db
/study/lut_tanh/incremental_db
/study/lut_tanh/output_files
/study/lut_tanh/simulation

/study/lut_relu/db
/study/lut_relu/incremental_db
/study/lut_relu/output_files
/study/lut_relu/simulation

/study/abs/db
/study/abs/incremental_db
/study/abs/output_files
/study/abs/simulation

/study/mean/db
/study/mean/incremental_db
/study/mean/output_files
/study/mean/simulation

/study/neuron/db
/study/neuron/incremental_db
/study/neuron/output_files
/study/neuron/simulation

/study/mac/db
/study/mac/incremental_db
/study/mac/output_files
/study/mac/simulation

/study/sram/db
/study/sram/incremental_db
/study/sram/output_files
/study/sram/simulation

/study/ram/db
/study/ram/incremental_db
/study/ram/output_files
/study/ram/simulation

/study/max/db
/study/max/incremental_db
/study/max/output_files
/study/max/simulation

/study/layer_test/db
/study/layer_test/incremental_db
/study/layer_test/output_files
/study/layer_test/simulation

/study/layer_1/db
/study/layer_1/incremental_db
/study/layer_1/output_files
/study/layer_1/simulation

/study/layer_2/db
/study/layer_2/incremental_db
/study/layer_2/output_files
/study/layer_2/simulation

/study/layer_3/db
/study/layer_3/incremental_db
/study/layer_3/output_files
/study/layer_3/simulation

/study/layer_4/db
/study/layer_4/incremental_db
/study/layer_4/output_files
/study/layer_4/simulation

/study/layer_5/db
/study/layer_5/incremental_db
/study/layer_5/output_files
/study/layer_5/simulation

/study/rna_test/db
/study/rna_test/incremental_db
/study/rna_test/output_files
/study/rna_test/simulation

/study/standard_deviation/db
/study/standard_deviation/incremental_db
/study/standard_deviation/output_files
/study/standard_deviation/simulation

/study/features/db
/study/features/incremental_db
/study/features/output_files
/study/features/simulation